<!DOCTYPE html>

<div class="2xl:container h-screen m-auto">
  <div hidden class="fixed inset-0 w-7/12 lg:block">
    <img
      class="w-full h-full object-cover"
      src="../../assets/mcdo.png"
      alt="Workflow"
    />
  </div>
  <div hidden role="hidden" class="fixed inset-0 w-6/12 ml-auto bg-white bg-opacity-70 backdrop-blur-xl lg:block"></div>
  <div class="relative h-full ml-auto lg:w-6/12">
      <div class="m-auto py-12 px-6 sm:p-20 xl:w-10/12">
          <div class="space-y-4">
              <p class="font-medium font-poppins text-2xl text-gray-600">Find your closest
                <span class="relative">
                  <span class="block absolute -inset-1 -skew-y-3 bg-red-500" aria-hidden="true"></span>
                  <span class="text-amber-400 relative">Mcdonald's</span> 
                </span>
                location! Sign up or continue as guest:</p>
          </div>
<div
  
>

    <h3>{{ errorMessage }}</h3>
    <form
      #userLogin="ngForm"
      (ngSubmit)="signIn(userLogin.value)"
      class="space-y-6 py-6"
      action="#"
      method="POST"
    >
      <input type="hidden" name="remember" value="true" />
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="email-address" class="sr-only">email-address</label>
          <input
            ngModel
            id="username"
            name="username"
            type="text"
            autocomplete="email"
            required
            class="w-full my-4 py-3 px-6 ring-1 ring-gray-300 rounded-xl placeholder-gray-600 bg-transparent transition disabled:ring-gray-200 disabled:bg-gray-100 disabled:placeholder-gray-400 invalid:border-pink-500 invalid:text-pink-600
            focus:invalid:border-pink-500 focus:invalid:ring-pink-500"
            placeholder="Email address"
          />
        </div>
        <div class="flex flex-col items-end">
          <label for="password" class="sr-only">Password</label>
          <input
            ngModel
            id="password"
            name="password"
            type="password"
            autocomplete="current-password"
            required
            class="w-full py-3 px-6 ring-1 ring-gray-300 rounded-xl placeholder-gray-600  bg-transparent transition disabled:ring-gray-200 disabled:bg-gray-100 disabled:placeholder-gray-400 invalid:ring-amber-400 focus:invalid:outline-none"
            placeholder="Password"
          />
        </div>
      </div>
      <div class="flex flex-col items-end">
        <button
          type="submit"
          class="w-6/12 px-6 py-3 rounded-xl border-2 border-gray-500 bg-amber-400 transition hover:bg-amber-300 focus:bg-amber-400 active:bg-amber-300"
        >
          
       Sign in 
        </button>
      </div>
    </form>
    <hr/> 
    <div class="flex flex-col items-center my-8">
        <button
        (click)="goToSignUp()"
          type="submit"
          class="w-6/12 px-6 py-3 rounded-xl border-2 border-gray-500 bg-white transition hover:bg-amber-200 focus:bg-amber-100 active:bg-amber-100"
        >
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <svg
              class="h-5 w-5 text-gray-900"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            ></svg>
          </span>
          Sign up
        </button>
    </div>
    <div class="flex flex-col items-center my-1">

    
        <p>Just want to browse?
           <a routerLink="/mainPage" class="text-amber-400 underline-offset-2 decoration-amber-400">Continue as guest</a> </p>
 
      
    </div>
  </div>
</div>

