<div
  class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
>
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-2xl font-medium font-poppins text-gray-600">
        Sign up to view your closest  
         <span class="relative">
          <span class="block absolute -inset-1 -skew-y-3 bg-red-500" aria-hidden="true"></span>
          <span class="text-amber-400 relative">Mcdonald's</span> 
        </span> location and save your favourites!
      </h2>
    </div>
    <form
      #userPost="ngForm"
      (ngSubmit)="signUp(userPost.value)"
      class="mt-8 space-y-6 font-urbanist"
      action="#"
      method="POST"
    >
      <input type="hidden" name="remember" value="true" />
      <div class="rounded-md -space-y-px">
        <p class="mt-6 text-l font-bold text-grey-50">Name:</p>

        <div>
          <label for="name" class="sr-only">Name</label>
          <input
            ngModel
            id="name"
            name="name"
            type="name"
            autocomplete="name"
            required
            class="w-full my-4 py-3 px-6 ring-1 ring-gray-300 rounded-xl placeholder-gray-600 bg-transparent transition disabled:ring-gray-200 disabled:bg-gray-100 disabled:placeholder-gray-400 invalid:amber-red-400 focus:invalid:outline-none"
            placeholder="Name"
          />
        </div>
        <p class="mt-8 text-l font-bold text-grey-50">Mobile Number:</p>
        <div>
          <label for="mobile-number" class="sr-only">Mobile Number</label>
          <input
            ngModel
            id="mobile-number"
            name="mobile-number"
            type="mobile-number"
            autocomplete="mobile-number"
            required
            class="w-full my-4 py-3 px-6 ring-1 ring-gray-300 rounded-xl placeholder-gray-600 bg-transparent transition disabled:ring-gray-200 disabled:bg-gray-100 disabled:placeholder-gray-400 invalid:amber-red-400 focus:invalid:outline-none"
            placeholder="Mobile Number"
          />
        </div>
        <p class="mt-8 text-l font-bold text-grey-50">Email address:</p>
        <div>
          <label for="email-address" class="sr-only">Email address</label>
          <input
            ngModel
            id="email-address"
            name="email"
            type="email"
            autocomplete="email"
            required
            class="w-full my-4 py-3 px-6 ring-1 ring-gray-300 rounded-xl placeholder-gray-600 bg-transparent transition disabled:ring-gray-200 disabled:bg-gray-100 disabled:placeholder-gray-400 invalid:amber-red-400 focus:invalid:outline-none"
            placeholder="Email Address"
          />
        </div>
        <p class="mt-6 text-l font-bold text-grey-50">Password:</p>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input
            ngModel
            id="password"
            name="password"
            type="password"
            autocomplete="current-password"
            required
            class="w-full my-4 py-3 px-6 ring-1 ring-gray-300 rounded-xl placeholder-gray-600 bg-transparent transition disabled:ring-gray-200 disabled:bg-gray-100 disabled:placeholder-gray-400 invalid:amber-red-400 focus:invalid:outline-none"
            placeholder="Password"
          />
        </div>
        <p class="mt-6 text-l font-bold text-grey-50">Confirm Password:</p>
        <div>
          <label for="confirm-password" class="sr-only">confirm-password</label>
          <input
            ngModel
            id="confirm-password"
            name="confirm-password"
            type="password"
            autocomplete="current-password"
            required
            class="w-full my-4 py-3 px-6 ring-1 ring-gray-300 rounded-xl placeholder-gray-600 bg-transparent transition disabled:ring-gray-200 disabled:bg-gray-100 disabled:placeholder-gray-400 invalid:amber-red-400 focus:invalid:outline-none"
          />
        </div>
      </div>
      <div class="flex flex-col items-end">
        <button
          type="submit"
          class="w-6/12 px-6 py-3 rounded-xl border-2 border-gray-500 bg-amber-400 transition hover:bg-amber-300 focus:bg-amber-400 active:bg-amber-300"
        >
          Sign up
        </button>
      </div>
    </form>
 
    <div class="flex flex-col items-end" >
      <p>Already with us?
         <a routerLink="/signIn" class="text-amber-400 underline-offset-1 decoration-amber-400">Sign in</a> </p>
    </div>

    <form
      *ngIf="verifyEmail"
      #userCode="ngForm"
      (ngSubmit)="confirmSignUp(userCode.value)"
      class="mt-8 space-y-6"
      action="#"
      method="POST"
    >
      <div>
        <label for="verify-code" class="sr-only">verify-code</label>
        <input
          ngModel
          id="verify-code"
          name="verification_code"
          type="verification"
          autocomplete="verify"
          required
          class="w-full my-4 py-3 px-6 ring-1 ring-gray-300 rounded-xl placeholder-gray-600 bg-transparent transition disabled:ring-gray-200 disabled:bg-gray-100 disabled:placeholder-gray-400 invalid:amber-red-400 focus:invalid:outline-none"
          placeholder="Verification Code"
        />
      </div>
      <div class="flex flex-col items-end">
      <button
        type="submit"
        class="w-6/12 px-6 py-3 rounded-xl border-2 border-gray-500 bg-amber-400 transition hover:bg-amber-300 focus:bg-amber-400 active:bg-amber-300"
      >

        Verify Email
      </button>
    </div>
    </form>
    <div *ngIf="verificationSuccessful">
      <p>
        Verification Successful! Please 
        <span class="text-amber-400"><a routerLink="/signIn">Sign in!</a></span>
      </p>
    </div>
  </div>
</div>
